:root {
  --primero: #784dc3;
  --marron: #663d14;
  --gris: #e1e1e1;
  --blanco: #ffffff;
  --negro: #000000;
}
html {
  box-sizing: border-box;
  /*font-size: 62.5%;1rem = 10px*/
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h2 {
  font-size: 30px;
}
/* caja from__first */
.from__padre {
  padding-top: 3rem;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 8rem;
}
.from__header {
  width: 100%;
  min-height: 20rem;
  /* background-color: red; */
  /* display: grid; */
  /* grid-template-rows: 20% 80%; */
}
.from__header--spacio{
  margin-bottom: 3rem;
}
.from__titulo h2 {
  font-size: 46px;
  /* padding-left: 1rem; */
  font-weight: 500;
  /* position: relative; */
}
.from__parrafo {
  width: min(90%, 120rem);
  margin: 0 auto;
}
.from__matricula {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.from__titulo-matricula {
    
  width: 100%;
  position: relative;
  /* display: block; */
  margin-bottom: 20px;
}
.from__titulo-matricula::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 80%;
  border-radius: 5px;
  background: linear-gradient(135deg, #71a0e6,#1cd2d8,#93EDC7 ); 

}

.campo {
  margin-bottom: 15px;
  width: calc(100% / 4 - 20px);
}

.campo__caja {
  height: 2rem;
  /* height: 45px; */
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #ccc;
  /* background-color: #eeeeee; */
  background-color: #fff;
  border-bottom-width: 3px;
  transition: all 0.3s ease;
}
.campo input[type="text"]:focus {
  /* border-radius: 5px; */
  border-color: #9b59b6;
}
.bloqueo{
  background-color: var(--gris);
  /* border-color: none; */
}

@media (max-width: 1000px) {
  .campo {
    /* margin-bottom: 15px; */
    width: calc(100% / 2 - 20px);
  }

}
@media (max-width: 725px) {
    .campo{
      /* margin-bottom: 15px; */
      width: calc(100% / 1 - 20px);
    }
  
  }
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

/* Datos personales */
.from__titulo--2{
  height: 3.5rem;
  margin-bottom: 2.5rem;
}
.from__datos--personal{
  margin-top: -1.1rem;
}
.campo__campo {
  margin-bottom: 1.5rem;
  width: calc(100% / 2 - 20px);
}

@media (max-width: 725px) {
  .campo__campo{
    width: calc(100% / 1 - 20px);
  }

}

/* submit */
.from__caja--boton{
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.from__btn {
  width: 150px;
  background-color: #d9f1fc;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 30px;
  color: #0089c8;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.5s ease;
}

.from__btn:hover {
  background-color: #0089c8;
  color: #fff;
}

/* 
.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

@media (max-width: 870px) {
.btn.transparent {
  width: 110px;
  height: 35px;
  font-size: 0.7rem;
}

} */