@import url("./myStyles.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 0;
}
.space {
  padding: 0 0.5rem 0 0.5rem;
}
.cont_perfil {
  /* width: 90%; */
  margin: 0 auto;
  display: flex;
  gap: 0.5rem;
}
.cont_right {
  border-right: 3px solid #8c89b8;
  border-radius: 2px;
  width: 30%;
}
.cont_space {
  padding: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.cont-caja {
  width: 150px;
  height: 150px;
}
.cont_img {
  border-radius: 50%;
  position: relative;
}
.cont_img img {
  width: 150px;
  height: 150px;
  clip-path: circle(50% at center);
}
.plas {
  position: absolute;
  top: 80%;
  left: 71%;
  border: 1px solid;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a6a2da;
  border: 2px solid white;
  cursor: pointer;
  color: white;
}
input[type="file"] {
  display: none;
}
input[type="text"] {
  border: none;
}
input[type="email"] {
  border: none;
}
.cont-nombre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.nombre {
  width: 100%;
  outline: none;
  text-transform: capitalize;
  font-size: 12px;
  border-radius: 5px;
  padding-left: 10px;
  box-shadow: 0 2px 4px rgba(174, 190, 205, 0.3);
  background-color: var(--white);
  transition: all 0.3s ease;
  text-align: center;
}
.edit:hover {
  font-size: 14px;
  color: #9173a8;
}
/* =================== */
.cont_info {
  width: 70%;
}
.cont_info_caja {
  width: 80%;
  margin: 0 auto;
}
.personal {
  padding-bottom: 0.5rem;
}
.cont-datos {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 3rem;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}
.cont-campo {
  min-width: 250px;
  width: calc(25% - 1rem);
  /* min-height: 470px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input {
  width: 100%;
  outline: none;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(174, 190, 205, 0.3);
  padding-left: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus {
  box-shadow: 0 2px 4px rgba(91, 55, 99, 0.3);
}
.cont-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.enviar {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
}

.btn_enviar {
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 15px;
    color: #666c75;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #d2b6d338;
    box-shadow: 0 2px 4px rgba(182, 145, 184, 0.37);
}
input[type="submit"]:hover{
    box-shadow: 0 2px 4px rgba(91, 55, 99, 0.3);
    color: #644e6e;
}

@media (max-width: 1278px) {
  .cont-campo {
    min-width: 235px;
  }
}
@media (max-width: 1225px) {
  .cont-campo {
    min-width: 200px;
  }
}

@media (max-width: 1100px) {
  .cont_info_caja {
    width: 85%;
  }
}
@media (max-width: 1052px) {
  .cont-campo {
    min-width: 180px;

  }
}
@media (max-width: 989px) {
  .cont_info {
    width: 60%;
  }
  .cont_right {
    width: 40%;
  }
  .enviar {
    justify-content: center;
}
.cont-campo{
    width: 100%;
}
}
@media (max-width: 550px) {
  .cont_perfil {
    flex-direction: column;
    align-items: center;
  }
  .cont_right {
    border: none;
    width: 100%;
  }
  .cont-datos {
    row-gap: 1.5rem;
  }

  .cont_info_caja {
    width: 95%;
  }
}

@media (max-width: 470px) {
  .cont_info {
    width: 70%;
  }
}
@media (max-width: 414px) {
  .cont_info {
    width: 80%;
  }
}
