@import url("./myStyles.css");

:root {
  --font: "Relaway", sans-serif;
  --font2: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.caja__contenido--temario {
  padding: 2rem 0 5rem 0;
  border-radius: 15px;
}
.caja__flex {
  display: flex;
  width: 85%;
  gap: 3rem;
  margin: 0 auto;
  justify-content: space-between;
  /* align-items: center; */
}

/* titulo curso y parrafo*/
.caja__title {
  line-height: 2.3rem;
  font-weight: 800;
  /* letter-spacing: 0.15rem; */
  color: var(--dark-sure);
  font-family: var(--font);
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.caja__description {
  margin: 0;
}

/* ====== assets =======*/
.caja__assets {
  margin: 2rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.curso__flex {
  display: flex;
  align-items: center;
}
.svg__nivel {
  height: 19px;
  margin-right: 12px;
}
.curso__text p {
  margin: 0;
}

/* <!-- title btn GO --> */

.btn__text {
  font-weight: 400;
  font-family: var(--font2);
  font-size: 14px;
}
.btn__text p {
  margin: 0;
}
.btn__go {
  margin: 5px 0 2rem 0;
}
.btn__go a {
  /* display: inline-block; */
  /* padding: 8px 44px; */
  border-radius: 8px;
  font-weight: 600;
  background-color: var(--green-sure-white);
  color: var(--green-sure);
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--green-sure);
  min-width: 140px;
  min-height: 2.5rem;
}

.btn__go a:hover {
  background-color: var(--green-sure);
  color: var(--white);
}
.btn__center {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 21%;
  gap: 4px;
}
.svg__icon--btn {
  min-width: 13px;
  height: 18px;
}
/*  */
.caja__social {
  display: flex;
  align-items: center;
}
.caja__social p {
  margin: 0;
  padding-right: 15px;
}
.btn-ico {
  margin-right: 10px;
}
.btn-ico svg:hover {
  color: var(--green-sure);
  /* width: 12px; */
}

/* imagen */
.caja__width {
  min-width: 250px;
  width: calc(40% - 1rem);
  /* border-left:1px solid rgba(174, 190, 205, 0.3); */
}

.caja__conteiner {
  min-width: 250px;
  width: calc(60% - 1rem);
}
.caja__img {
  box-shadow: 0 2px 4px var(--shadow);
  border-radius: 0.5rem;
  height: 339px;

}
.caja__img img {
  transition: transform 0.3s ease-out;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem;
}
@supports(object-fit: cover){
  .caja__img img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

@media (max-width: 1024px) {
  .caja__flex {
    flex-direction: column-reverse;
  }
  .caja__conteiner {
    min-width: 250px;
    width: 100%;
  }
  .caja__width {
    min-width: 250px;
    width: 100%;
  }
  .caja__contenido {
    padding: 2rem 0 5rem 0;
  }
}

/* contenido--title */
.contenido--title {
  width: 100%;
  text-align: center;
  margin: 8rem 0 4rem 0;
}
.contenido--title h2 {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 3rem;
  color: var(--negro);
}

/* contenedor banner */
.contenedor__banner {
  width: 100%;
  margin-top: 3rem;
  background-color: var(--blue-secondary);
  /* border:4px solid var(--blue); */
  height: 300px;
  padding: 75px 0 75px 0;
}
.banner__flex {
  min-width: 250px;
  width: calc(50% - 1rem);
  margin: 0 auto;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--light-blue);
  border-radius: 15px;
}
.banner__pre {
  min-width: 250px;
  width: calc(60% - 1rem);
  text-transform: capitalize;
}
.banner__inicio {
  min-width: 250px;
  width: calc(40% - 1rem);
  display: flex;
  align-items: center;
}
.banner__pre--caja h2 {
  color: var(--white);
  font-size: 3rem;
  margin: 0;
}
.banner__inicio--caja {
  padding: 0.8rem;
  border-radius: 15px;
  font-weight: 600;
  background: var(--white);
  color: #7773bd;
  margin: 0 auto;
  text-transform: capitalize;
}
.banner__inicio--caja p {
  margin: 0;
}
/* ---------------------- */
@media (max-width: 1348px) {
  
  .banner__flex {
    min-width: 250px;
    width: calc(70% - 1rem);
  }
}

/* ------------------------ */
@media (max-width: 1108px) {
  .banner__flex {
    min-width: 250px;
    width: calc(80% - 1rem);
  }
}

/* -------------------- */
@media (max-width: 786px) {
.banner__pre--caja {
    text-align: center;
  }
}

/* ------------------ */
@media (max-width: 692px) {
  .banner__flex{
  flex-direction: column;
    min-width: 250px;
    width: 95%;
  }
  .banner__pre {
  min-width: 250px;
  width: 100%;
  }
  .banner__inicio{
    min-width: 250px;
    width: 100%;
  }
}
@media (max-width: 692px) {
  .banner__pre--caja h2{
    font-size: 2.5rem;
  }
}

/* ====programa==== */
.programa__container{
  margin-top: 7rem;
}
.programa__caja{
  min-width: 250px;
  width: calc(85% - 1rem);
  margin: 0 auto;
}
.programa__beni{
  display: flex;
  gap: 0.5rem;
}
.beneficio{
  min-width: 250px;
  width: 50%;
  margin: 0 auto;
}
.beneficio__title{
  min-width: 250px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
  text-align: center;
}

.programa__title{
  width: 100%;
  text-align: center;
  margin: 8rem 0 4rem 0;
}
.programa__title h2{
  font-weight: 600;
letter-spacing: 2px;
font-size: 3rem;
color: var(--dark-sure);
}

.caracteristicas{
  min-width: 250px;
  width: 50%;
}
.beneficio__caja{
 margin-top: 1.5rem; 
 min-width: 250px;
 width: 80%;
 margin: 0 auto;
}
.beneficio__caja ul{
  list-style: none;
  
  padding: 0;
}
.beneficio__caja li{
  font-weight: 400;
  font-size: 0.99rem;
  color: var(--lead);
  border-left: 4px solid var(--orange);
  margin-bottom: 0.9rem;
  padding-left: 0.8rem;
}

@media (max-width: 1379px) {
  .beneficio__caja{
    min-width: 250px;
    width: 85%;
  }
  .beneficio__title{
    min-width: 250px;
    width: 85%;
  }
}
@media (max-width: 1303px) {
  .beneficio__caja{
    min-width: 250px;
    width: 90%;
  }
  .beneficio__title{
    min-width: 250px;
    width: 90%;
  }
}
@media (max-width: 1303px) {
  .beneficio__caja{
    min-width: 250px;
    width: 95%;
  }
  .beneficio__title{
    min-width: 250px;
    width: 95%;
  }
}
@media (max-width: 1135px) {
  .beneficio__caja{
    min-width: 250px;
    width: 100%;
  }
  .beneficio__title{
    min-width: 250px;
    width: 100%;
  }
}
@media (max-width: 1007px) {
  .programa__beni{
    flex-direction: column;
  }
  .beneficio{
    width: 100%;
  }
}

.valor--title__dos{
width: 100%;
text-align: center;
margin: 3.5rem 0 4rem 0;
}

.valor--title__dos h2{
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 3rem;
  color: var(--dark-sure);
}
.valor2{
  width: calc(25% - 1rem);
}
@media (max-width: 1024px) {
  .valor2{
    width: calc(27% - 1rem);
  }
}
@media (max-width: 889px) {
  .valor2{
    width: calc(30% - 1rem);
  }
}
@media (max-width: 809px) {
  .valor2{
    width: calc(35% - 1rem);
  }
}
@media (max-width: 690px) {
  .valor2{
    width: calc(40% - 1rem);
  }
}
.icon--svg svg:hover{
  color: var(--purple);
}
.caja__cursor{
  cursor: pointer;
}