@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;900&display=swap");
@import url("./myStyles.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.3;
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
}
p{
  font-size: 17px;
}
/* classes */
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header */
header {
  position: relative;
  height: 6rem;
  width: 100%;
	z-index: 10;
	position: fixed;
  
  
}

.logo img{
  width: 5rem;
}

nav {
  height: 83px;
  width: 100%;
  padding: 20px 0;
  
}
.nav-container{
  transition: all 0.5s ease;
  
}
.nav-container.active{
  /* background: var(--primary-color-95); */
  background: #fff;
  backdrop-filter: blur(16px);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
}
.nav-container.active ul li a{
  color: var(--secondary-color);
}

.navigation-bar ul {
  padding: 0;
  margin: 0;
}
.navigation-bar ul li {
  display: inline-block;
  margin: 0 25px;
}
.navigation-bar ul li:last-child {
  margin-right: 0px;
}
.navigation-bar ul li a {
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}
.navigation-bar ul li a:hover {
   font-size: 1rem;
   color:var(--light-blue);
   /* transform:scale(1.5); */
}
.navigation-bar ul li a.btn {
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  color: var(--white);
  font-weight: normal;
  font-weight: 600;
  background-color: var(--secondary-color-95);
}
.navigation-bar ul li a.btn:hover {
  background-color: var(--secondary-color-95);
  color: var(--white);
  transform:scale(1.1);
}

.scroll{
  height: 100px;
}

/* Toggle bar */
.burger {
  width: 25px;
  cursor: pointer;
  display: none;
}
.burger span {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 3px;
  background-color: var(--dark-sure);
}

.cursos-flex{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;

}
@media (max-width: 767px) {
  .cursos-flex{
    align-items: center;
  }
}

@media (min-width: 991px) {
  .navigation-bar {
    display: block !important;
  }
}
@media (max-width: 990px) {
  .burger {
    display: block;
    position: absolute;
    right: 20px;
  }
  .navigation-bar {
    display: none;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    background-color: var(--green-sure-white);
    padding: 20px 0;
    text-align: center;
    z-index: 2;
  }
  .navigation-bar ul li {
    display: block;
    margin: 15px 0;
  }
  .navigation-bar ul li a.btn {
    background-color: var(--green-sure);
    color: var(--white);
  }
}

/* Home section */
.home {
  position: relative;
  /* height: 100%;
  min-height: 90vh; */
  
}
.home-wrapper {
  /* height: 100%; */
  min-height: 70vh;
  flex-wrap: wrap;
}
.home .col-left {
  width: 50%;
}
.home .home-image {
  width: 50%;
  text-align: right;
}

.col-left h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  color: var(--dark-sure);
  margin-bottom: 20px;
}
.col-left p {
  font-weight: normal;
  font-size: 15px;
  color: var(--lead);
  margin-bottom: 50px;
}
.col-left ul {
  padding: 0px;
  margin: 0px;
}

.col-left ul li {
  list-style: none;
  font-weight: normal;
  font-size: 15px;
  line-height: normal;
  color: var(--lead);
  margin-bottom: 20px;
}
.col-left ul li img {
  vertical-align: bottom;
  margin-right: 10px;
}
.btn-section {
  justify-content: space-between;
  margin-top: 40px;
}

.btn-section .btn-start {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  color: var(--white);
  background-color: var(--light-blue);
  text-transform: capitalize;
  box-shadow: 0px 4px 15px rgba(0, 200, 148, 0.15);
  border-radius: 18px;
  transition: all 0.3s ease-in-out;
}
.btn-section .btn-start:hover {
  background-color: var(--green-sure);
}
.btn-section .btn-play {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 26px;
  color: var(--dark-sure);
  font-size: 16px;
  line-height: normal;
  text-transform: capitalize;
}
.btn-section .btn-play span {
  margin-right: 18px;
}
.curve-image {
  position: absolute;
  top: auto;
  bottom: -18px;
  left: 0;
}

.shape {
  position: absolute;
}

.shape1 {
  top: 6%;
}
.shape2 {
  top: 20%;
  left: 50%;
  animation: rotate 10s linear infinite;
}
.shape3 {
  top: 45%;
  left: 40%;
  animation: rotate 10s linear infinite;
}
.shape4 {
  top: 84%;
  left: 33%;
  animation: rotate 10s linear infinite;
}
.shape5 {
  top: 70%;
  left: 55%;
  animation: rotate 10s linear infinite;
}
.home .col-left {
  width: 50%;
}
/* ------------ */
.shap1 {
  top: 21%;
  left: 46%;
  animation: rotate 10s linear infinite;
}
@keyframes animar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.shap2 {
  top: 26%;
  left: 81%;
  animation: rotate 10s linear infinite;
}
  @keyframes rotate {
    0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
  }
.shap3 {
  top: 45%;
  left: 40%;
  animation: rotate 10s linear infinite;
}
.shap4 {
  top: 60%;
  left: 84%;
  animation: rotate 10s linear infinite;
}
.shap5 {
  top: 70%;
  left: 55%;
  animation: rotate 10s linear infinite;
}
.col-texto{
 width: 50%;
}
/* Media Queries */
@media (max-width: 1024px) {
  .home-wrapper{
    min-height: 0vh;
    }
}
@media (max-width: 767px) {
  .d-flex{
    gap: 2rem;
  }
  .container {
    padding: 0 20px;
  }
  .home-wrapper {
    flex-direction: column-reverse;
    min-height: auto;
  }
  .home .col-left {
    width: 100%;
    padding-top: 15px;
  }
  .col-texto{
    width: 73%;
    text-align: center;
   }
  .col-left h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .home .home-image {
    width: 60%;
    text-align: center;
  }
  .home .home-image img {
    width: 70%;
  }
  .shape {
    display: none;
  }
  
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 35px;
  }
  .shape {
    display: none;
  }
  .home .home-image img {
    width: 83%;
  }
}
@media (min-width: 1024px) and (max-width: 1230px) {
  .container {
    padding: 0 35px;
  }
  .home {
    min-height: 94vh;
  }
  .shape {
    display: none;
  }
}
