@import url("./myStyles.css");
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

.box__section{
    width: 100%;
    margin: 8rem 0 6rem 0;
   
}
.caja__section{
    width: 50%;
    margin: 0 auto;
}
.caja__section--title{
    text-align: center;
}
.caja__section--title h2{
font-size: 2.8rem;
font-weight: 600;
color: #333;
text-transform: capitalize;
}
.caja__section--parrafo p{
    font-size: 1.5rem;
    text-align: center;
}
.valor__pleno{
    text-align: center;
    cursor: pointer;
}
.valor__pleno svg:hover{
    color: var(--light-blue);
}
.min__heigth{
    min-height: 184px;
}
