@import url("./myStyles.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}
.box__somos{
    margin: 3rem 0 2.5rem 0;
}
.somos__contenedor {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  border-bottom: 1px solid rgba(174, 190, 205, 0.61);
  padding-bottom: 3rem ;
}
.somos__img{
    width: 50%;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgba(174, 190, 205, 0.61);
    
}
.somos__img--caja{
    width: 95%;
    
    /* align-items: center; */
}
.somos__img img{
    width: 100%;
}
.somos__caja{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
}
.somos__contenido p{
    text-align: justify;
}
.somos__contenido h2{
font-size: 2.8rem;
font-weight: 600;
color: #333;
}
@media (max-width: 757px) {
    .somos__contenedor {
      flex-direction: column;
      align-items: center;
    }
    .somos__img{
        width: 65%;
        border: none;
    }
    .somos__caja{
        width: 95%;
        padding: 0;
        margin-top: 2rem;
  }
  .somos__contenido h2{
      text-align: center;
  }
}
@media (max-width: 489px) {
    .somos__img{
        width: 85%;
    }
}